
[advance_pottery]
name = _("Pottery")
class = "Simple"
req1 = "None"
req2 = "None"
root_req = "None"
;research_req =
;flags =
graphic = "a.pottery"
graphic_alt = "-"
;helptext = _("")
cost = 50
;bonus_message =

[advance_mansonry]
name = _("Masonry")
class = "Simple"
req1 = "None"
req2 = "None"
root_req = "None"
;research_req =
;flags =
graphic = "a.masonry"
graphic_alt = "-"
;helptext = _("")
cost = 40
;bonus_message =

[advance_writing]
name = _("Writing")
class = "Simple"
req1 = "None"
req2 = "None"
root_req = "None"
;research_req =
;flags =
graphic = "a.writing"
graphic_alt = "a.alphabet"
helptext = _("")
cost = 60
;bonus_message =

[advance_map_making]
name = _("Map Making")
class = "Simple"
req1 = "Writing"
req2 = "None"
root_req = "None"
;research_req =
;flags =
graphic = "a.map_making"
graphic_alt = "-"
helptext = _("")
cost = 120
;bonus_message =

[advance_iron_working]
name = _("Iron Working")
class = "Simple"
req1 = "Pottery"
req2 = "None"
root_req = "None"
;research_req =
;flags =
graphic = "a.iron_working"
graphic_alt = "-"
helptext = _("")
cost = 100
;bonus_message = 

[advance_currency]
name = _("Currency")
class = "Simple"
req1 = "Writing"
req2 = "Masonry"
root_req = "None"
;research_req =
;flags =
graphic = "a.currency"
graphic_alt = "-"
helptext = _("")
cost = 100
;bonus_message =
