;divine section
; requirements are commented as nationg group requirements are broken

[advance_divine_oceanic_terrain_access]
name = _("Divine Oceanic Terrain Access")
class = "Divine"
req1 = "None"
req2 = "None"
root_req = "None"
research_reqs = {"type","name","range","present"
;                 "Nation","Tech Divine","Player",TRUE
}
;flags =
graphic = "a.divine_oceanic_terrain_access"
graphic_alt = "a.philosophy"
helptext = _("makes oceanic terrains workable, combined with other similar technologies\
allows creation of terrain Improvements")
cost = 20
;bonus_message =


[advance_divine_wet_terrain_access]
name = _("Divine Wet Terrain Access")
class = "Divine"
req1 = "None"
req2 = "None"
root_req = "None"
research_reqs = {"type","name","range"
;                "NationGroup","Tech Divine","Player"
}
;flags =
graphic = "a.divine_wet_terrain_access"
graphic_alt = "a.philosophy"
helptext = _("makes wet terrains workable, combined with other similar technologies allows\
 creation of terrain improvements")
cost = 20
;bonus_message =


[advance_divine_basic_champion]
name = _("Divine Basic Champion")
class = "Divine"
req1 = "None"
req2 = "None"
root_req = "None"
research_reqs = {"type","name","range"
;                "NationGroup","Tech Divine","Player"
}
;flags =
graphic = "a.divine_basic_champion"
graphic_alt = "a.philosophy"
helptext = _("after being researched allows creation of basic champion")
cost = 20
;bonus_message =


[advance_worship]
name = _("Worship")
class = "Divine"
req1 = "None"
req2 = "None"
root_req = "None"
research_reqs = {"type","name","range"
;                "NationGroup","Tech Divine","Player"
}
;flags =
graphic = "a.worship"
graphic_alt = "a.philosophy"
helptext = _("allows temples and The Chapel")
cost = 20
;bonus_message =


[advance_faith_warriors]
name = _("Faith Warriors")
class = "Divine"
req1 = "None"
req2 = "None"
root_req = "None"
research_reqs = {"type","name","range"
;                 "NationGroup","Tech Divine","Player"
}
;flags =
graphic = "a.faith_warriors"
graphic_alt = "a.philosophy"
helptext = _("Allows access to the faith warrior unit and the Altar Of The Faithkeeper Sword")
cost = 20
;bonus_message =

;flux section

[advance_flux_desert_terrain_access]
name = _("Flux Desert Terrain Access")
class = "Flux"
req1 = "None"
req2 = "None"
root_req = "None"
research_reqs = {"type","name","range"
;               "NationGroup","Tech Flux","Player"          
}
;flags =
graphic = "a.flux_desert_terrain_access"
graphic_alt = "a.philosophy"
helptext = _("makes desert terrain workable, combined with other similar technologies \
allows creation of terrain improvements")
cost = 20
;bonus_message =


[advance_flux_fluxaffected_terrain_access]
name = _("Flux FluxAffected Terrain Access")
class = "Flux"
req1 = "None"
req2 = "None"
root_req = "None"
research_reqs = { "type","name","range"
;                 "NationGroup","Tech Flux","Player"
}
;flags =
graphic = "a.flux_flux_affected_terrain_access"
graphic_alt = "a.philosophy"
helptext = _("makes desert terrain workable, combined with other similar technologies \
allows creation of terrain improvements")
cost = 20
;bonus_message =


[advance_flux_open_terrain_improvement]
name = _("Flux Open Terrain Improvement")
class = "Flux"
req1 = "None"
req2 = "None"
root_req = "None"
research_reqs = {"type","name","range"
;                "NationGroup","Tech Flux","Player"
}
;flags =
graphic = "a.flux_open_terrain_improvement"
graphic_alt = "a.philosophy"
helptext = _("allows improvement of open terrain combined with other similar technologies \
allows the creation of further improvements")
cost = 20 
;bonus_message =

;TODO: add other tier 1 flux technologies

;magical section

[advance_magical_desert_terrain_access]
name = _("Magical Desert Terrain Access")
class = "Magical"
req1 = "None"
req2 = "None"
root_req = "None"
research_reqs = {"type","name","range"
                 "NationGroup","Tech Magical","Player"
}
;flags =
graphic = "a.magical_desert_terrain_access"
graphic_alt = "a.philosophy"
helptext = _("makes desert terrain workable, combined with other similar technologies \
allows creation of terrain improvements")
cost = 20
;bonus_message =


[advance_magical_cold_terrain_access]
name = _("Magical Cold Terrain Access")
class = "Magical"
req1 = "None"
req2 = "None"
root_req = "None"
research_reqs = { "type","name","range"
                  "NationGroup","Tech Magical","Player"
}
;flags =
graphic = "a.magical_cold_terrain_access"
graphic_alt = "a.philosophy"
helptext = _("makes cold terrain workable, combined with other similar technologies \
allows creation of terrain improvements")
cost = 20
;bonus_message =

;TODO: add other tier1  magical techs

;scientific section
[advance_scientific_open_terrain_improvement]
name = _("Scientific Open Terrain Improvement")
class = "Scientific"
req1 = "None"
req2 = "None"
root_req = "None"
research_reqs = {"type","name","range"
                 "NationGroup","Tech Scientific","Player"
}
;flags =
graphic = "a.scientific_open_terrain_improvement"
graphic_alt = "a.philosophy"
helptext = _("allows improvement of open terrain combined with other similar technologies \
allows the creation of further improvements")
cost = 20
;bonus_message =

[advance_scietific_forested_terrain_improvement]
name = _("Scientific Forested Terrain Improvement")
class = "Scientific"
req1 = "None"
req2 = "None"
root_req = "None"
research_reqs = {"type","name","range"
                  "NationGroup","Tech Scientific","Player"
}
;flags =
graphic = "a.scientific_forested_terrain_improvement"
graphic_alt = "a.philosophy"
helptext = _("allows improvement of forested terrain combined with other similar technologies \
allows the creation of further improvements")
cost = 20
;bonus_message =


[advance_scientific_elevated_terrain_access]
name = _("Scientific Elevated Terrain Access")
class = "Scientific"
req1 = "None"
req2 = "None"
root_req = "None"
research_reqs = {"type","name","range"
                  "NationGroup","Tech Scientific","Player"
}
;flags =
graphic = "a.scientific_elevated_terrain_access"
graphic_alt = "a.philosophy"
helptext = _("makes elevated terrain workable, combined with other similar technologies \
allows creation of terrain improvements")
cost = 20
;bonus_message =

;TODO: add other tier 1 scientific techs
