;divine section
; requirements are commented as nationg group requirements are broken

[advance_divine_oceanic_terrain_access]
name = _("Divine Oceanic Terrain Access")
class = "Divine"
req1 = "None"
req2 = "None"
root_req = "None"
research_reqs = {"type","name","range","present"
;                 "Nation","Tech Divine","Player",TRUE
}
;flags =
graphic = "a.divine_oceanic_terrain_access"
graphic_alt = "a.philosophy"
helptext = _("makes oceanic terrains workable, combined with other similar technologies\
allows creation of terrain Improvements")
cost = 20
;bonus_message =


[advance_divine_wet_terrain_access]
name = _("Divine Wet Terrain Access")
class = "Divine"
req1 = "None"
req2 = "None"
root_req = "None"
research_reqs = {"type","name","range"
;                "NationGroup","Tech Divine","Player"
}
;flags =
graphic = "a.divine_wet_terrain_access"
graphic_alt = "a.philosophy"
helptext = _("makes wet terrains workable, combined with other similar technologies allows\
 creation of terrain improvements")
cost = 20
;bonus_message =


[advance_divine_basic_champion]
name = _("Divine Basic Champion")
class = "Divine"
req1 = "None"
req2 = "None"
root_req = "None"
research_reqs = {"type","name","range"
;                "NationGroup","Tech Divine","Player"
}
;flags =
graphic = "a.divine_champion_1"
graphic_alt = "a.philosophy"
helptext = _("after being researched allows creation of basic champion")
cost = 20
;bonus_message =


[advance_worship]
name = _("Worship")
class = "Divine"
req1 = "None"
req2 = "None"
root_req = "None"
research_reqs = {"type","name","range"
;                "NationGroup","Tech Divine","Player"
}
;flags =
graphic = "a.worship"
graphic_alt = "a.philosophy"
helptext = _("allows temples and The Chapel")
cost = 20
;bonus_message =


[advance_divine_defensive_unit_and_wonder]
name = _("Divine Defensive Unit And Wonder")
class = "Divine"
req1 = "None"
req2 = "None"
root_req = "None"
research_reqs = {"type","name","range"
;                 "NationGroup","Tech Divine","Player"
}
;flags =
graphic = "a.divine_defensive_unit_and_wonder"
graphic_alt = "a.philosophy"
helptext = _("Allows access to a new Unit and to the (insert wonder name here)")
cost = 20
;bonus_message =

;flux section

;magical section

;scientific section

