[extra_blessed_land]
name = _("Blessed Land")
category = "Resource"
causes = "Resource"
graphic = "ts.blessed_land"
graphic_alt = "ts.oasis"
activity_gfx = "None"
act_gfx_alt = "-"
act_gfx_alt2 = "-"
rmact_gfx = "None"
rmact_gfx_alt = "-"

[extra_coal]
name           = _("Coal")
category       = "Resource"
causes         = "Resource"
;rmcauses       = ""
graphic        = "ts.coal"
graphic_alt    = "-"
activity_gfx   = "None"
act_gfx_alt    = "-"
act_gfx_alt2   = "-"
rmact_gfx      = "None"
rmact_gfx_alt  = "-"

[extra_fish]
name           = _("Fish")
category       = "Resource"
causes         = "Resource"
;rmcauses       = ""
graphic        = "ts.fish"
graphic_alt    = "-"
activity_gfx   = "None"
act_gfx_alt    = "-"
act_gfx_alt2   = "-"
rmact_gfx      = "None"
rmact_gfx_alt  = "-"

[extra_game]
name           = _("?animals:Game")
category       = "Resource"
causes         = "Resource"
;rmcauses       = ""
graphic        = "ts.tundra_game"
graphic_alt    = "-"
activity_gfx   = "None"
act_gfx_alt    = "-"
act_gfx_alt2   = "-"
rmact_gfx      = "None"
rmact_gfx_alt  = "-"

[extra_wheat]
name           = _("Wheat")
category       = "Resource"
causes         = "Resource"
;rmcauses       = ""
graphic        = "ts.wheat"
graphic_alt    = "-"
activity_gfx   = "None"
act_gfx_alt    = "-"
act_gfx_alt2   = "-"
rmact_gfx      = "None"
rmact_gfx_alt  = "-"

[extra_gold]
name           = _("Gold")
category       = "Resource"
causes         = "Resource"
;rmcauses       = ""
graphic        = "ts.gold"
graphic_alt    = "-"
activity_gfx   = "None"
act_gfx_alt    = "-"
act_gfx_alt2   = "-"
rmact_gfx      = "None"
rmact_gfx_alt  = "-"

[extra_furs]
name           = _("Furs")
category       = "Resource"
causes         = "Resource"
;rmcauses       = ""
graphic        = "ts.furs"
graphic_alt    = "-"
activity_gfx   = "None"
act_gfx_alt    = "-"
act_gfx_alt2   = "-"
rmact_gfx      = "None"
rmact_gfx_alt  = "-"

[extra_oil]
name           = _("Oil")
category       = "Resource"
causes         = "Resource"
;rmcauses       = ""
graphic        = "ts.oil"
graphic_alt    = "-"
activity_gfx   = "None"
act_gfx_alt    = "-"
act_gfx_alt2   = "-"
rmact_gfx      = "None"
rmact_gfx_alt  = "-"

[extra_silk]
name           = _("Silk")
category       = "Resource"
causes         = "Resource"
;rmcauses       = ""
graphic        = "ts.silk"
graphic_alt    = "-"
activity_gfx   = "None"
act_gfx_alt    = "-"
act_gfx_alt2   = "-"
rmact_gfx      = "None"
rmact_gfx_alt  = "-"

; /* <-- avoid gettext warnings
;
; Resource types:
;
; The actual tag used (the * in [resource_*]) must be unique for each resource,
; and may be used in debug output when reading this file.
;
; Notes:
;
; extra                = name of the extra this resource section is part of
;                        (must have "Resource" in its causes)
; identifier           = single-character identifier used in old savegames. This
;                        must be unique for each resource, and changing it will
;                        break loading those old savegames.
; food                 = increased food production
; shield               = increased shield production
; trade                = increased trade production
;
; */ <-- avoid gettext warnings

[resource_blessed_land]
extra = "Blessed Land"
food = 1
identifier = "b"

[resource_coal]
extra = "Coal"
shield = 1
identifier= "c"

[resource_fish]
extra = "Fish"
food = 1
identifier = "f"

[resource_game]
extra = "Game"
food = 1
identifier = "a"

[resource_wheat]
extra = "Wheat"
shield = 1
identifier = "w"

[resource_gold]
extra       = "Gold"
trade       = 1
identifier  = "g"

[resource_furs]
extra = "Furs" 
trade = 1
identifier = "m"

[resource_oil]
extra = "Oil"
shield = 1
identifier = "o"

[resource_silk]
extra = "Silk"
shield = 1
identifier = "s"
