; food strategic resources
[extra_anole_weasel]
name = _("Anole Weasel")
category = "Natural"
causes = ""
;rmcauses =
infracost = 0
graphic = "ts.anole_weasel"
graphic_alt = "ts.buffalo"
;activity_gfx = 
;act_gfx_alt = 
;rmact_gfx = 
;rmact_gfx_alt = 
;reqs =
;rmreqs = 
;appearance_reqs = 
;disapearance_reqs =
;visibility_req = 
buildable = FAlSE
generated = TRUE
;build_time = 
;build_time_factor = 
;removal_time = 
;removal_time_factor = 
;defense_bonus = 
;unit_seen =
;appearance_chance = 
;disapearance_chance = 
;native_to = 
;conflicts = 
;hidden_by = 
;bridged_over = 
;no_aggr_near_city = 
;flags =

[extra_cows]
name = _("Cow")
category = "Natural"
causes = ""
;rmcauses =
infracost = 0
graphic = "ts.cow"
graphic_alt = "ts.buffalo"
;activity_gfx = 
;act_gfx_alt = 
;rmact_gfx = 
;rmact_gfx_alt = 
;reqs =
;rmreqs = 
;appearance_reqs = 
;disapearance_reqs =
;visibility_req = 
buildable = FALSE
generated = TRUE
;build_time = 
;build_time_factor = 
;removal_time = 
;removal_time_factor = 
;defense_bonus = 
;unit_seen =
;appearance_chance = 
;disapearance_chance = 
;native_to = 
;conflicts = 
;hidden_by = 
;bridged_over = 
;no_aggr_near_city = 
;flags =

[extra_hunting_newt]
name = _("Hunting Newt")
category = "Natural"
causes = ""
;rmcauses =
infracost = 
graphic = "ts.hunting_newt"
graphic_alt = "ts.buffalo"
;activity_gfx = 
;act_gfx_alt = 
;rmact_gfx = 
;rmact_gfx_alt = 
;reqs =
;rmreqs = 
;appearance_reqs = 
;disapearance_reqs =
;visibility_req = 
buildable = FALSE
generated = TRUE
;build_time = 
;build_time_factor = 
;removal_time = 
;removal_time_factor = 
;defense_bonus = 
;unit_seen =
;appearance_chance = 
;disapearance_chance = 
;native_to = 
;conflicts = 
;hidden_by = 
;bridged_over = 
;no_aggr_near_city = 
;flags =

[extra_giant_spider]
name = _("Giant Spider")
category = "Natural"
causes = ""
;rmcauses =
infracost = 0
graphic = "ts.giant_spider"
graphic_alt = "ts.buffalo"
;activity_gfx = 
;act_gfx_alt = 
;rmact_gfx = 
;rmact_gfx_alt = 
;reqs =
;rmreqs = 
;appearance_reqs = 
;disapearance_reqs =
;visibility_req = 
buildable = FALSE
generated = TRUE
;build_time = 
;build_time_factor = 
;removal_time = 
;removal_time_factor = 
;defense_bonus = 
;unit_seen =
;appearance_chance = 
;disapearance_chance = 
;native_to = 
;conflicts = 
;hidden_by = 
;bridged_over = 
;no_aggr_near_city = 
;flags =

;shield strategic resources

[extra_gestril]
name = _("Gestril")
category = "Natural"
causes = ""
;rmcauses =
infracost = 0
graphic = "ts.gestril"
graphic_alt = "ts.iron"
;activity_gfx = 
;act_gfx_alt = 
;rmact_gfx = 
;rmact_gfx_alt = 
;reqs =
;rmreqs = 
;appearance_reqs = 
;disapearance_reqs =
;visibility_req = 
buildable = FALSE
generated = TRUE
;build_time = 
;build_time_factor = 
;removal_time = 
;removal_time_factor = 
;defense_bonus = 
;unit_seen =
;appearance_chance = 
;disapearance_chance = 
;native_to = 
;conflicts = 
;hidden_by = 
;bridged_over = 
;no_aggr_near_city = 
;flags =

[extra_orichalcum]
name = _("Orichalcum")
category = "Natural"
causes = ""
;rmcauses =
infracost = 0
graphic = "ts.orichalcum"
graphic_alt = "ts.iron"
;activity_gfx = 
;act_gfx_alt = 
;rmact_gfx = 
;rmact_gfx_alt = 
;reqs =
;rmreqs = 
;appearance_reqs = 
;disapearance_reqs =
;visibility_req = 
buildable = FALSE
generated = TRUE
;build_time = 
;build_time_factor = 
;removal_time = 
;removal_time_factor = 
;defense_bonus = 
;unit_seen =
;appearance_chance = 
;disapearance_chance = 
;native_to = 
;conflicts = 
;hidden_by = 
;bridged_over = 
;no_aggr_near_city = 
;flags =

[extra_steel]
name = _("Steel")
category = "Natural"
causes = ""
;rmcauses =
infracost = 
graphic = "ts.steel"
graphic_alt = "ts.iron"
;activity_gfx = 
;act_gfx_alt = 
;rmact_gfx = 
;rmact_gfx_alt = 
;reqs =
;rmreqs = 
;appearance_reqs = 
;disapearance_reqs =
;visibility_req = 
buildable = FALSE
generated = TRUE
;build_time = 
;build_time_factor = 
;removal_time = 
;removal_time_factor = 
;defense_bonus = 
;unit_seen =
;appearance_chance = 
;disapearance_chance = 
;native_to = 
;conflicts = 
;hidden_by = 
;bridged_over = 
;no_aggr_near_city = 
;flags =

[extra_votrite]
name = _("Votrite")
category = "Natural"
causes = ""
;rmcauses =
infracost = 0
graphic = "ts.votrite"
graphic_alt = "ts.iron"
;activity_gfx = 
;act_gfx_alt = 
;rmact_gfx = 
;rmact_gfx_alt = 
;reqs =
;rmreqs = 
;appearance_reqs = 
;disapearance_reqs =
;visibility_req = 
buildable = FALSE
generated = TRUE
;build_time = 
;build_time_factor = 
;removal_time = 
;removal_time_factor = 
;defense_bonus = 
;unit_seen =
;appearance_chance = 
;disapearance_chance = 
;native_to = 
;conflicts = 
;hidden_by = 
;bridged_over = 
;no_aggr_near_city = 
;flags =

;trade strategic resource
;

[extra_diamond]
name = _("Diamond")
category = "Natural"
causes = ""
;rmcauses =
infracost = 0
graphic = "ts.diamond"
graphic_alt = "ts.gems"
;activity_gfx = 
;act_gfx_alt = 
;rmact_gfx = 
;rmact_gfx_alt = 
;reqs =
;rmreqs = 
;appearance_reqs = 
;disapearance_reqs =
;visibility_req = 
buildable = FALSE
generated = TRUE
;build_time = 
;build_time_factor = 
;removal_time = 
;removal_time_factor = 
;defense_bonus = 
;unit_seen =
;appearance_chance = 
;disapearance_chance = 
;native_to = 
;conflicts = 
;hidden_by = 
;bridged_over = 
;no_aggr_near_city = 
;flags =

[extra_molserite]
name = _("Molserite")
category = "Natural"
causes = ""
;rmcauses =
infracost = 0 
graphic = "ts.molserite"
graphic_alt = "ts.gems"
;activity_gfx = 
;act_gfx_alt = 
;rmact_gfx = 
;rmact_gfx_alt = 
;reqs =
;rmreqs = 
;appearance_reqs = 
;disapearance_reqs =
;visibility_req = 
buildable = FALSE
generated = TRUE
;build_time = 
;build_time_factor = 
;removal_time = 
;removal_time_factor = 
;defense_bonus = 
;unit_seen =
;appearance_chance = 
;disapearance_chance = 
;native_to = 
;conflicts = 
;hidden_by = 
;bridged_over = 
;no_aggr_near_city = 
;flags =

[extra_rutssanite]
name = _("Rutssanite")
category = "Natural"
causes = ""
;rmcauses =
infracost = 0
graphic = "ts.rutssanite"
graphic_alt = "ts.gems"
;activity_gfx = 
;act_gfx_alt = 
;rmact_gfx = 
;rmact_gfx_alt = 
;reqs =
;rmreqs = 
;appearance_reqs = 
;disapearance_reqs =
;visibility_req = 
buildable = FALSE
generated = TRUE
;build_time = 
;build_time_factor = 
;removal_time = 
;removal_time_factor = 
;defense_bonus = 
;unit_seen =
;appearance_chance = 
;disapearance_chance = 
;native_to = 
;conflicts = 
;hidden_by = 
;bridged_over = 
;no_aggr_near_city = 
;flags =

[extra_wyarpuhyite]
name = _("Wyarpuhyite")
category = "Natural"
causes = ""
;rmcauses =
infracost = 
graphic = "ts.wyarpuhyite"
graphic_alt = "ts.gems"
;activity_gfx = 
;act_gfx_alt = 
;rmact_gfx = 
;rmact_gfx_alt = 
;reqs =
;rmreqs = 
;appearance_reqs = 
;disapearance_reqs =
;visibility_req = 
buildable = FALSE
generated = TRUE
;build_time = 
;build_time_factor = 
;removal_time = 
;removal_time_factor = 
;defense_bonus = 
;unit_seen =
;appearance_chance = 
;disapearance_chance = 
;native_to = 
;conflicts = 
;hidden_by = 
;bridged_over = 
;no_aggr_near_city = 
;flags =

