[nation_moon_elf]
name = _("Moon-Elf")
plural = _("?plural:Moon-Elves")
groups = "Tech Magical", "Tech Divine"

flag = "moon_elf"
flag_alt = "acadia"
style = "european" 

init_techs= ""
init_buildings= ""
init_units = "" 

leaders = { "name", "sex"
            "Aquilan Quivyre","female"
}
;cities = 
;   "name", ;translated_name 
;ruler_titles = { "government","male_title","female_title"
;}
;conflicts_with = 
;civilwar_nations =
