
[building_temple]
name = _("Temple")
genus = "Improvement"
reqs = {"type","name","range"
        "Tech","Worship","Player"
}
graphic = "b.temple"
graphic_alt = "-"
;obsolete_by =
upkeep = 0
build_cost = 20
sabotage = 100
;flags = 
;helptext = _("")

[building_the_chapel]
name = _("The Chapel")
genus = "GreatWonder"
reqs = {"type","name","range"
        "Tech","Worship","Player"
        "Building","Temple","City"
}
build_cost = 100
upkeep = 0
sabotage = 100
graphic = "b.the_chapel"
graphic_alt = "b.temple"
;flags = 
;helptext = _("")

[building_altar_of_the_faithkeeper_sword]
name = _("Altar Of The Faithkeeper Sword")
genus = "SmallWonder"
reqs = {"type","name","range"
        "Building","Temple","City"
        "Tech","Faith Warriors","Player"
}
graphic = "b.altar_of_the_faithkeeper_sword"
graphic_alt = "b.barracks"
build_cost = 100
;obsolete_by =
upkeep = 0
sabotage = 0
;flags = 
helptext = _("the altar is the source of power of the faithkeeper swords \
any champion can be armed with one gaining 1 whole movement point\
")
