
[nation_purple_orc]
name = _("Purple-Orc")
plural = _("?plural:Purple-Orcs")
groups = "Interdimensional","Tech Flux", "Tech Divine", "Tech Magical"

flag = "purple-orc"
flag_alt = "ukraine"
style = "babylonian"

init_techs= ""
init_buildings= ""
init_units = "" 

leaders = { "name", "sex"
            "Umog", "female"
}
;cities = 
;   "name", ;translated_name 
;ruler_titles = { "government","male_title","female_title"
;}
;conflicts_with = 
;civilwar_nations =
