[effect_anole_weasel_food]
type = "Output_Inc_Tile"
value = 1
reqs = { "type", "name", "range"
         "Extra","Anole Weasel", "City"
         "OutputType","Food","Local"
}

[effect_cow_food]
type = "Output_Inc_Tile"
value = 1 
reqs = { "type", "name", "range"
         "Extra","Cow", "City"
         "OutputType","Food","Local"
}

[effect_hunting_newt_food]
type = "Output_Inc_Tile"
value = 1
reqs = { "type", "name", "range"
         "Extra", "Hunting Newt", "City"
         "OutputType", "Food", "Local"
}

[effect_giant_spider_food]
type = "Output_Inc_Tile"
value = 1 
reqs = { "type", "name", "range"
         "Extra", "Giant Spider", "City"
         "OutputType", "Food", "Local"
}
;shield resources

[effect_gestril_shield]
type = "Output_Inc_Tile"
value = 1
reqs = { "type", "name" , "range"
         "Extra", "Gestril", "City"
         "OutputType","Shield","Local"
}

[effect_orichalcum_shield]
type = "Output_Inc_Tile"
value = 1
reqs = { "type", "name" , "range"
         "Extra", "Orichalcum", "City"
         "OutputType","Shield","Local"
}

[effect_steel_shield]
type = "Output_Inc_Tile"
value = 1
reqs = { "type", "name" , "range"
         "Extra", "Steel", "City"
         "OutputType","Shield","Local"
}

[effect_votrite_shield]
type = "Output_Inc_Tile"
value = 1
reqs = { "type", "name" , "range"
         "Extra", "Votrite", "City"
         "OutputType","Shield","Local"
}

;
;trade resources

[effect_diamond_trade]
type = "Output_Inc_Tile"
value = 1
reqs = { "type", "name" , "range"
         "Extra", "Diamond", "City"
         "OutputType","Trade","Local"
}

[effect_molserite_trade]
type = "Output_Inc_Tile"
value = 1
reqs = { "type", "name" , "range"
         "Extra", "Molserite", "City"
         "OutputType","Trade","Local"
}
[effect_rutssanite_trade]
type = "Output_Inc_Tile"
value = 1
reqs = { "type", "name" , "range"
         "Extra", "Rutssanite", "City"
         "OutputType","Trade","Local"
}

[effect_wyarpuhyite_trade]
type = "Output_Inc_Tile"
value = 1
reqs = { "type", "name" , "range"
         "Extra", "Wyarpuhyite", "City"
         "OutputType","Trade","Local"
}
