
[nation_testing]
name = _("Testing")
plural = _("?plural:Testers")
groups = "Tech Divine", "Tech Flux", "Tech Magical","Tech Scientific"

flag = "saka"
flag_alt = "-"
style = "european"

init_techs= "Divine Basic Champion"
init_buildings= ""
init_units = "" 

;
leaders = { "name", "sex"
            "tester","female"
}
;cities = 
;   "name", ;translated_name 
;ruler_titles = { "government","male_title","female_title"
;}
;conflicts_with = 
;civilwar_nations =
