[nation_testing]
name = _("testing")
plural = _("?plural:testers")
groups = "Hive Mind","Interdimensional","Tech Flux","Tech Scientific","Tech Magical"

flag = "testing"
flag_alt = "mixtec"
style = "babylonian"

init_techs= ""
init_buildings= ""
init_units = "" 
;add hive queen here
leaders = { "name", "sex"
            "brittol","male" ; Gibberish
}
cities = 
    "name", ;Translatedname
    "string" ;AnotherR
    
;ruler_titles = { "government","male_title","female_title"
;}
;conflicts_with = 
;civilwar_nations =

