[terrain_edge_of_reality]
name = _("Edge Of Reality")
graphic = "edge_of_reality"
graphic_alt = "coast"
movement_cost = 1
identifier = "e"
defense_bonus = 200
class = "Land"
food = 18
shield = 0
trade = 0
;resources = 
base_time = 30
road_time = 40
transform_time = 0
transform_result = "no"
cultivate_result = "no"
cultivate_time = 0
plant_result = "no"
plant_time = 0
irrigation_food_incr = 0
irrigation_time = 0
mining_shield_incr = 0
mining_time = 0
color.r = 200
color.g  = 200
color.b = 200
native_to = "Flux","Air","Mage","Champion"
flags =  "FluxTerrain","NoZoc"
helptext = _("affected by its proximity with its closeness with reality holes this terrain is inhospitable to most")
placing_time = 30
pillage_time = 5

property_montainous = 50
property_green = 0 
property_foliage = 50
property_tropical = 50
property_temperate = 50
property_cold = 50
property_frozen = 50

[terrain_hole_in_reality]
name = _("Hole In Reality")
class = "Land"
movement_cost = 1
graphic = "hole_in_reality"
graphic_alt = "plains"
identifier = "r"
color.r = 14
color.g = 37
color.b = 55
food = 0 
shield = 18 
trade = 0
;resources = 
base_time = 30
road_time = 40
transform_time = 0
transform_result = "no"
cultivate_result = "no"
cultivate_time = 0
plant_result = "no"
plant_time = 0
irrigation_food_incr = 0
irrigation_time = 0
mining_shield_incr = 0
mining_time = 0
placing_time = 30
pillage_time = 5
native_to = "Flux" ,"Air" , "Mage", "Champion"
flags =  "FluxTerrain","NoZoc"
defense_bonus = 200
helptext = _("a hole in reality it leads directly to interdimensional space, most races can't live here")
property_montainous = 50
property_green = 0 
property_foliage = 50
property_tropical = 50
property_temperate = 50
property_cold = 50
property_frozen = 50

[terrain_chaotic_flux]
name = _("Chaotic Flux")
class = "Land"
movement_cost = 1
graphic = "chaotic_flux"
graphic_alt = "hills"
identifier = "c"
food = 0
shield = 0
trade = 18
color.r = 190
color.g = 128
color.b = 202
;resources = 
base_time = 30
road_time = 40
transform_time = 0
transform_result = "no"
cultivate_result = "no"
cultivate_time = 0
plant_result = "no"
plant_time = 0
irrigation_food_incr = 0
irrigation_time = 0
mining_shield_incr = 0
mining_time = 0
placing_time = 30
pillage_time = 5
native_to = "Flux","Air","Mage","Champion"
defense_bonus = 200
flags =  "FluxTerrain","NoZoc"
helptext = _("this terrain is directly affected by the interdimensional flux and is inhospitable to most")
property_montainous = 50
property_green = 0 
property_foliage = 50
property_tropical = 50
property_temperate = 50
property_cold = 50
property_frozen = 50
