; /* <-- avoid gettext warnings
;
; Resource types:
;
; The actual tag used (the * in [resource_*]) must be unique for each resource,
; and may be used in debug output when reading this file.
;
; Notes:
;
; extra                = name of the extra this resource section is part of
;                        (must have "Resource" in its causes)
; identifier           = single-character identifier used in old savegames. This
;                        must be unique for each resource, and changing it will
;                        break loading those old savegames.
; food                 = increased food production
; shield               = increased shield production
; trade                = increased trade production
;
; */ <-- avoid gettext warnings

[resource_blessed_land]
extra = "Blessed Land"
food = 1
identifier = "b"

[resource_coal]
extra = "Coal"
shield = 1
identifier= "c"

[resource_fish]
extra = "Fish"
food = 1
identifier = "f"

[resource_game]
extra = "Game"
food = 1
identifier = "a"

[resource_wheat]
extra = "Wheat"
shield = 1
identifier = "w"

[resource_gold]
extra       = "Gold"
trade       = 1
identifier  = "g"

[resource_furs]
extra = "Furs" 
trade = 1
identifier = "m"

[resource_oil]
extra = "Oil"
shield = 1
identifier = "o"

[resource_silk]
extra = "Silk"
shield = 1
identifier = "s"
