[actionenabler_normal_movement]
action = "Unit Move"
actor_reqs = {"type","name","range","present","quiet"
            "MinMoveFrags","1","Local",TRUE,FALSE
            "UnitState","Transported","Local",FALSE,FALSE
            "UnitClass","Mage","Local",FALSE,FALSE
            "UnitClass","Flux","Local",FALSE,FALSE
            "UnitClass","Champion","Local",FALSE,FALSE
}
target_reqs = {"type",        "name","range","present","quiet"
; none
}
;need to add movement to mage flux and champion classes
