
[actionenabler_build_city]
action = "Found City"
actor_reqs = {"type","name","range","present","quiet"
            "UnitType" ,"Settlers","Local",TRUE,FALSE
}
target_reqs = {"type","name","range","present","quiet"
            "TerrainFlag","NoCities","Tile",FALSE,FALSE
            ; add anti city extra
}

[actionenabler_construct_farmland]
action = "Irrigate"
actor_reqs = { "type","name","range","present","quit"
              "UnitType",
}
