
[actionenabler_build_city]
action = "Found City"
actor_reqs = {"type","name","range","present","quiet"
            "UnitType" ,"Settlers","Local",TRUE,FALSE
}
target_reqs = {"type","name","range","present","quiet"
            "TerrainFlag","NoCities","Tile",FALSE,FALSE
            "Extra","Fortification","Adjacent",FAlSE,FALSE
}

[actionenabler_construct_farmland]
action = "Build Irrigation"
actor_reqs = { "type","name","range","present","quiet"
               "UnitFlag","Settlers","Local",TRUE,FALSE
}
target_reqs = {"type", "name", "range", "present","quiet"
               "TerrainAlter","CanIrrigate","Tile",TRUE, FALSE
               "Extra","Farmland","Tile",FALSE,FALSE
               "Extra","Workshop","Tile",FALSE,FALSE
}

[actionenabler_construct_workshop]
action = "Build Mine"
actor_reqs = { "type","name","range","present","quiet"
               "UnitFlag","Settlers","Local",TRUE,FALSE
}
target_reqs = {"type", "name", "range", "present","quiet"
               "TerrainAlter","CanMine","Tile",TRUE,FALSE
               "Extra","Farmland","Tile",FALSE,FALSE
               "Extra","Workshop","Tile",FALSE,FALSE
}

[actionenabler_construct_fortification]
action = "Build Base"
actor_reqs = {"type", "name", "range", "present", "quiet"
              "UnitFlag", "Settlers", "Local", TRUE, FALSE
}
target_reqs = {"type", "name", "range", "present", "quiet"
               "TerrainAlter","CanBase","Tile",TRUE,FALSE
               "Extra","Fortification","Tile",FALSE,FALSE
}
